# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock.bak

# Variables de entorno (NUNCA subir al repositorio)
env.json
*.env

# Android
android/key.properties
android/app/*.jks
android/app/*.keystore
android/local.properties
android/.gradle/

# IDE
.idea/
.vscode/
*.iml
